[submodule "src/xmas-pokemon-bot"]
	path = src/xmas-pokemon-bot
	url = git@bitbucket.org:ml6team/xmas-pokemon-bot.git
[submodule "src/keras-rl2"]
	path = src/keras-rl2
	url = https://github.com/wardVD/keras-rl2.git
